<div class="container">
  <div></div>
  <div class="row justify-content-between">

    <div class="card text-center mt-4" (click)="open(eventmodal)" style="width: 14rem" *ngFor="let eventos of events">
      <img class="card-img-top " src="{{eventos.imagen}}" alt="Imagen no encontrada" style="height: 10rem; width: auto;">
      <hr>

      <div class="card-body">
        <h5 class="card-title"> {{eventos.titulo}} </h5>
        <div class="card-text col-12">{{eventos.lugar}}</div>
        <div class="card-text col-12">{{eventos.fecha}}</div>

      </div>

      <!-- visualizar event modal -->

      <ng-template #eventmodal let-modal>
        <div>
          <div class="modal-header">
      
            <div class="form-group col-10 pb-0 mb-0">
              <h3>
                {{eventos.titulo}}
              </h3>
            </div>
            <div class="col-2">
              <button style="outline: none" type="button" class="close bg-white" aria-label="Close"
                (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
      
          </div>
        </div>
      
        <form>
          <div class="modal-body form-group row text-center">
            
            <div class="col-1"> </div>
            <div class="form-group col-10">
              <img src={{eventos.imagen}} class="col-12 bg-white" style="height: 15rem; width: auto">
              <hr>
              <label for="creador-event">
                <h3> {{eventos.nickname}}</h3>
              </label>
            </div>
            <div class="col-1"> </div>
      
            <div class="col-1"> </div>
            <div class="form-group col-5">
              <label for="categoria-event">
                <h4>{{eventos.categoria}}</h4>
              </label>
            </div>
            
            <div class="form-group col-5">
              <label for="lugar-event">
                <h4>{{eventos.lugar}}</h4>
              </label>
            </div>
            <div class="col-1"> </div>
      
            <div class="col-1"> </div>
            <div class="form-group col-5">
              <label for="date-event">
                <h5>{{eventos.fecha}}</h5>
              </label>
            </div>
            
            <div class="form-group col-5">
              <label for="time-event">
                <h5>{{eventos.hora}}</h5>
              </label>
            </div>
            <div class="col-1"> </div>
            
            <div class="col-1"> </div>
            <div class="form-group col-10">
              <p class="text-justify-center">{{eventos.descripcion}}</p>
            </div>
            <div class="col-1"> </div>
            
            <div class="col-1"> </div>
            <div class="form-group col-10">
              <h4 class="text-center">Asistentes: {{eventos.total_asist}}/{{eventos.max_assist}}</h4>
            </div>
            <div class="col-1"> </div>
      
          </div>

          <div class="modal-footer justify-content-center">
      
            <div class="col-3">
              <button type="submit" class="btn">Editar</button>
            </div>
      
            <div class="col-3">
              <button type="submit" class="btn">Asistir</button>
            </div>
      
            <div class="col-3">
              <button type="submit" class="btn">Eliminar</button>
            </div>
            
          </div>
            
        </form>
            
      </ng-template>
    </div>
  </div>
</div>



