<div class="row" style="margin-top: 10%;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
      <p style="font-style: oblique" class="centrar">Sábado de fútbol en Barajas</p>
      <div>
        <img id="imagen" src="https://ep01.epimg.net/economia/imagenes/2020/01/16/actualidad/1579196525_489238_1579272049_noticia_normal_recorte1.jpg" alt="">
      </div>
      
    </div>
  
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
      <p class="centrar">¿Qué te ha parecido el evento organizado por <strong>Jermase</strong>?</p>
      <form class="centrar">
          <p class="clasificacion">
          <input id="radio1" type="radio" name="estrellas" value="5">
          <label for="radio1">★</label>
          <input id="radio2" type="radio" name="estrellas" value="4">
          <label for="radio2">★</label>
          <input id="radio3" type="radio" name="estrellas" value="3">
          <label for="radio3">★</label>
          <input id="radio4" type="radio" name="estrellas" value="2">
          <label for="radio4">★</label>
          <input id="radio5" type="radio" name="estrellas" value="1">
          <label for="radio5">★</label>
          </p>
      <button type="button">Enviar</button>
      </form>
    </div>
  </div>  