<div class="row" style="margin-top: 10%;">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5">
      <p style="font-style: oblique" class="centrar">{{event.titulo}}</p>
      <div>
        <!-- <img id="imagen" src="https://ep01.epimg.net/economia/imagenes/2020/01/16/actualidad/1579196525_489238_1579272049_noticia_normal_recorte1.jpg" alt=""> -->
        <img id="imagen" src="{{event.imagen}}" alt="Imagen no encontrada" style="height: 10rem; width: auto;">
      </div>
      
    </div>
  
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
      <p class="centrar">¿Qué te ha parecido el evento organizado por <strong>{{event.nickname}}</strong>?</p>
      <form class="centrar">
          <!-- <p class="clasificacion">
          <input id="radio1" type="radio" #estrella value="5" (click)="rate(5)">
          <label for="radio1">★</label>
          <input id="radio2" type="radio" #estrella value="4" (click)="rate(4)">
          <label for="radio2">★</label>
          <input id="radio3" type="radio" #estrella value="3" (click)="rate(3)">
          <label for="radio3">★</label>
          <input id="radio4" type="radio" #estrella value="2" (click)="rate(2)">
          <label for="radio4">★</label>
          <input id="radio5" type="radio" #estrella value="1" (click)="rate(1)">
          <label for="radio5">★</label>
          </p> -->

          <ngb-rating  [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating>

          <div class="col-12">
            <button class="btn btn-block" id="color" style="border: solid 1px #fc5404; width: 15%; margin-left: auto; 
            margin-right:auto; display: flexbox" (click)="rate()" routerLink="/perfil" id="pointer">Enviar</button>
          </div>
      </form>
    </div>
  </div>  