button {
    background-color:#fc5404;
    border: 1px solid #fc5404;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff9500;
  }
  
  #form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
  }
  
  #form p {
  text-align: center;
  }
  
  #form label {
  font-size: 20px;
  }
  
  input[type="radio"] {
  display: none;
  }
  
  label {
  color: grey;
  font-size: 3rem;
  }
  
  .clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
  color: orange;
  }
  
  input[type="radio"]:checked ~ label {
  color: orange;
  }
  
  #imagen {
  width: 50%;
  margin: auto;
  display: block;
  }
  
  .centrar {
  text-align: center;
  margin-top: 100px;

  
  }

  #pointer{
    cursor: pointer;
  }

  #centrar{
  margin-left: auto; 
  margin-right:auto; 
  display: flexbox
  }

  /* .star{
  margin: 0px 0px;
  color: #a9a5a5;
  display: inline-block;
  cursor: pointer;
  transition: all .3s;
  transform: scale(1).star;


    mat-icon{
      width: 40px;
      height: 40px.star-gold;
      color: orange// make all stars orange.star-rating-animation:hover .star-hover;
      color: orange// make all stars right from selected gray.star-rating-animation .star-hover:hover ~ .star-hover
      color: #ddd.star-rating-animation .star-hover:hover;
      transform: scale(1.3)
    }
} */

ngb-rating {
  color: #FFC107;
  font-size: 80px;
  margin-bottom: 50px;
}