<div [class]="hasError2 ? 'none' : 'container-fluid'" >
    <div [style.background-image]="hasError ? 'none' : 'url(../../../assets/fondo.jpg)'">
  
        <div id="contenido">
            <h2>Nuestro equipo de desarrolladores</h2>
            <hr>

            <div id="about">

                <div class="foto">
                <img src="../../../assets/foto.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text">¡Hola, soy Juan!<br> <img src="../../../assets/linked1.png" (click)="linkJuan()" style="width: 40px; cursor: pointer;">
                    </div>
                </div>
                </div>

                <div class="foto">
                <img src="../../../assets/foto.jpg"  alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text">¡Hola, soy Marilyn!<br> <img src="../../../assets/linked1.png" (click)="linkMarilyn()" style="width: 40px; cursor: pointer;"> </div>
                </div>
                </div>

                <div class="foto">
                <img src="../../../assets/foto.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text">¡Hola, soy Ángel! <br> <img src="../../../assets/linked1.png" (click)="linkAngel()" style="width: 40px; cursor: pointer;"> </div>
                </div>
                </div>

                <div class="foto">
                <img src="../../../assets/foto.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text">¡Hola, soy Lilia! <br> <img src="../../../assets/linked1.png" (click)="linkLilia()" style="width: 40px; cursor: pointer;"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
