<div id="container">
    <div id="text1">
        <p>Únete</p>
    </div>

    <div id="text2">
        <h1>Descubre las mejores actividades</h1>
    </div>

        <form class="form-inline">
            <input type="text" placeholder="¿Qué estás buscando?">
            <select id="select" style="cursor: pointer;" >
                <option value="">Categorías</option>
                <option value="">Conocimiento</option>
                <option value="">Deportes</option>
                <option value="">Idiomas</option>
                <option value="">Salir</option>
            </select>
            <button type="submit" style="width: 100px;">Buscar</button>

        </form>
    
</div>
<app-events></app-events>
