<div id="container">
    <div id="text1">
        <p>Únete</p>
    </div>

    <div id="text2">
        <h1>Descubre las mejores actividades</h1>
    </div>

        <form class="form-inline">
            <input type="text" placeholder="¿Qué estás buscando?" #input>
            <select  id="select" style="cursor: pointer;"  #category (change)="cambio(category.value)">
                <option *ngFor="let categoria of categorias" value="{{categoria}}" id="seleccionCategoria" >{{ categoria }}</option>
            </select>
            <button type="button" style="width: 100px;" (click)="filtroSelect(input.value)">Buscar</button>

        </form>
    
</div>
<app-events *ngIf="mostrarDatoBuscado == false"></app-events>
<app-events *ngIf="mostrarDatoBuscado == true"></app-events>
