#container{
    width: 100%;
    height: 600px;
    /* border: solid red 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../../../assets/fondo.jpg');
    background-size: cover;
    background-position: center center;
}
#text1{
    font-size: 90px;
    width: 50%;
    height: 100px;
    text-align: center;
    /* border: solid red 1px; */
    font-family: Brush Script MT;
    color: #fc5404;
    margin-top: 70px;
}
#text2{
    width: 50%;
    height: 60px;
    text-align: center;
    /* border: solid red 1px; */
    font-family: Courier New;
    color: whitesmoke;
}



/* estilo del buscardor */
.form-inline {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline input {
    width: 550px;
    height: 60px;
    vertical-align: middle;
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    background: #fff;
    outline:none;
}
#select{
    width: 150px;
    height: 60px;
    border: 1px solid rgb(155, 153, 153);
    border-radius: 5px;
    background: #fff;
    outline:none;
    border: 1 0 0 0;
    z-index: 3;
}
  
.form-inline button {
    height: 60px;
    border-radius: 10px;
    background-color:#fc5404;
    border: 1px solid #fc5404;
    color: white;
    cursor: pointer;
    margin-left: 3px;
}
.form-inline button:hover {
    box-shadow: 0 0 20px rgb(204, 203, 203);
}

#buscador{
    width: 40%;
    background-color: #fff;
    height: 60px;
    border-radius: 20px;
}
/* fin estilo del buscador */







/*********** MEDIA QUERIS ***********/

@media (max-width: 800px) {
    #text2{
        display: none;
    }
    #text1{
        font-size: 90px;
    }
    .form-inline input {
      margin: 10px 0;
      width: 240px;
      height: 40px;
      border-radius: 5px;
    }
    #select{
        width: 240px;
        height: 40px;
        border-color: white;
        border-radius: 5px;
    }
    .form-inline button {
        border-radius: 5px;
        background-color:#fc5404;
        border: 0;
        color: white;
        outline: none;
    
        margin-top: 8px;
        margin-left: 70px;
        height: 40px;
    }
    .form-inline button:hover {
        box-shadow: 0 0 20px rgb(204, 203, 203);
    }    
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
}

