<div id="container">
    <div id="text1">
        <h1>Únete</h1>
    </div>

    <div id="text2">
        <h1>Descubre las mejores actividades</h1>
    </div>


    <!-- <form id="form">
        <div >
            <input id="input" type="text" placeholder="¿Que estás buscando?">
        </div>
        <div>
            <div>
                <select>
                    <option value="">Categorías</option>
                    <option value="">Catagoría 1</option>
                    <option value="">Catagoría 2</option>
                    <option value="">Catagoría 3</option>
                    <option value="">Catagoría 4</option>
                </select>
            </div>
        </div>
        <div>
            <button type="button" >Buscar</button>      
        </div> 
    </form> -->


    <form class="form-inline" action="/action_page.php">
        <input type="text" placeholder="¿Qué estás buscando?">
        <select id="select">
            <option value="">Categorías</option>
            <option value="">Catagoría 1</option>
            <option value="">Catagoría 2</option>
            <option value="">Catagoría 3</option>
            <option value="">Catagoría 4</option>
        </select>
        <button type="submit">Buscar</button>
    </form>


</div>

<app-events></app-events>