#navegador{
    text-align: right;
    margin-left: 1180px;

}
li{
    font-size: small;
    color: white;
}

#color{
    border: solid 1px #fc5404;
}

#color:hover {
    background-color: #ff9500;
}
@media only screen and (max-width: 600px) {
    #icono {
        display: none;
    }
    li{
        font-size: 10px;
    }
    
    #opciones{
        display:inline-flex;
        margin-left: 30px;
    }
}
#pointer{
    cursor: pointer;
}
#pointer:hover {
    background-color:#ff9500;
    border-radius: 7px;
}
