<div class="container-fluid" style="background-image: url(../../../assets/fondo.jpg);">
    <nav class="navbar">
        <a class="navbar-brand text-white" href="#"><img src="../../../assets/logo.png" style="height: 50px;"></a>

        <ul class="nav justify-content-end">
            <a href="#" id="icono"><img src="../../../assets/icono.png" style="height: 30px;"></a>
            <li class="nav-item"><a class="nav-link text-white" href="#" (click)="iniciarSesion()">Iniciar sesión</a></li>
            <li class="nav-item"><a class="nav-link text-white" href="#" (click)="registrarse()">Registrarse</a></li>
        </ul>
    </nav>
</div>