<div class="container-fluid">
  <div [style.background-image]="hasError ? 'none' : 'url(../../../assets/fondo.jpg)'">
    <nav class="navbar">
        <a class="navbar-brand text-white" routerLink="/" (click)="home()"><img src="../../../assets/logo.png" style="height: 50px;"></a>

        <ul class="nav justify-content-end" id="opciones">
          <img src="../../../assets/icono.png" style="height: 40px; cursor: pointer; outline: none;" *ngIf="mostrar===false;" routerLink="perfil"><a id="icono"></a>
            <li class="nav-link" *ngIf="mostrar===false;" routerLink="perfil" id="pointer" (click)="salir()">Hola, {{ user.nickname }}</li>
            <li class="nav-item"><a class="nav-link text-white" id="pointer" (click)="open(login)" *ngIf="mostrar===true;">Iniciar sesión</a></li>
            <li class="nav-item"><a class="nav-link text-white" id="pointer" (click)="open(registro)" *ngIf="mostrar===true;">Registrarse</a></li>
            <li class="nav-item"><a class="nav-link text-white" id="pointer" (click)="open(createEvent)">Crear Evento</a></li>
        </ul>
    </nav>
  </div>
</div>


<!-- create event modal -AR-->
<ng-template #content let-modal>
<ng-template #createEvent let-modal>
    <div>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"><img src="../../../assets/move.gif" style="width: 60px; height: 50px;">Crear <strong style="color: #fc5404;">Evento</strong></h4>
      <button style="outline: none;" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    </div>
    
    <!-- <form  #createForm="ngForm" (ngSubmit)="onSubmit2(createForm)"> -->
    <form>
    <div class="modal-body form-group row">

            <div class="col-1"> </div>
            <div class="form-group col-10">
              <label for="title-event">Titulo</label>
              <input #titulo type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo...">              
            </div>
            <div class="col-1"> </div>

            <div class="col-1"> </div>
            <div class="form-group col-10">
              <label for="categoria-event">Categoria</label>
              <select #categoria class="form-control" id="categoria-event">
                <option value="Deportes">Deportes</option>
                <option value="Conocimiento">Conocimiento</option>
                <option value="Idiomas">Idiomas</option>
                <option value="Salir">Salir</option>                
              </select>
            </div>
            <div class="col-1"> </div>

            <div class="col-1"> </div>
            <div class="form-group col-10">
              <label for="lugar-event">Lugar</label>
              <input #lugar type="text" class="form-control" id="lugar" placeholder="Lugar..." name="lugar">              
            </div>
            <div class="col-1"> </div>

            <div class="col-1"> </div>
            <div class="col-10 pb-3 pt-1">
                  <label for="insert-img">Seleccionar imagen</label>
                  <input #imagen type="file" name="imagen" id="imagen" accept="image/*" id="imagen">
                
            </div>
            <div class="col-1"> </div>

            <div class="col-1"> </div>
            <div class="form-group col-5">
              <label for="date-event">fecha</label>
              <input #fecha type="date" class="form-control" id="fecha" name="fecha">              
            </div>          
            
            
            <div class="form-group col-5">
              <label for="time-event">hora</label>
              <input #hora type="time" class="form-control" id="hora" name="hora">              
            </div>
            <div class="col-1"> </div>


            <div class="col-1"> </div>
            <div class="form-group col-10">
              <label for="description-event">descripcion</label>
              <textarea #descripcion class="form-control" id="description-event" placeholder="descripcion"></textarea>         
            </div>
            <div class="col-1"> </div>

            <div class="col-4"> </div>
            <div class="form-group col-4">
              <label for="max-assist">Asistentes</label>
              <input #assist type="text" class="form-control" id="max-assist" placeholder="Max Asistentes">              
            </div>
            <div class="col-4"> </div>
    </div>

    
    <div class="modal-footer">
      <div class="col-4"></div>  
        <div class="col-4 form-group">
          <button class="btn btn-block" id="color" (click)="crearEvento(titulo.value, lugar.value, fecha.value, hora.value, descripcion.value, categoria.value, imagen.value, assist.value)" type="button"> Crear Evento </button>
        </div>
      <div class="col-4"> </div>
    </div>
    
</form>
      
</ng-template>
<!-- fin modal event -->


        <!-- modal del login -MG -->
        <ng-template #login let-modal>
          <div class="modal-header">
          <h4 class="modal-title" style="height: 50px; font-family: Arial, Helvetica, sans-serif;"><img src="../../../assets/move.gif" style="width: 60px; height: 50px;">Iniciar <strong style="color: #fc5404;">sesión</strong> </h4>
          <button style="outline: none;" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
          </div>

          <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
              <div class="modal-body">
                  <div class="form-group">
                      <img src="../../../assets/sobre.png" style="width: 35px; height: 30px;">
                      <label>Correo</label>
                      <input #email type="email" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" [ngClass]="{ 'is-invalid': email.invalid }" email required>
                  <div *ngIf=" email.invalid" class="invalid-feedback"><p *ngIf="email.errors.required">*Campo requerido</p></div>
                  </div>
          
                  <div class="form-group">
                      <img src="../../../assets/candado.png" style="width: 35px; height: 30px;">
                      <label>Contraseña</label>
                      <input #password type="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel"
                      [ngClass]="{ 'is-invalid': password.invalid }" required>
                      <div *ngIf="password.invalid" class="invalid-feedback">
                      <p *ngIf="password.errors.required">*Campo requerido</p>
                      </div>
                  </div>
                  <div class="form-group" style="color: red; text-align: center;" *ngIf="mostrarError===true"> 
                    Email o contraseña incorrecto
                  </div>
              </div>
          
          <div class="modal-footer">
                  <div class="form-group">
                      <button class="btn btn-block" #color style="border: solid 1px #fc5404;" (click)="onLogin(email.value, password.value)" [disabled]="loginForm.invalid" type="button">Entrar</button>
                    </div>
                  <div class="form-group">
                      <button  class="btn btn-block" #color style="border: solid 1px #fc5404;" type="button" (click)="modal.close('Close click')">Cancelar</button>    
                  </div>

              </div>
          </form>
      </ng-template>
      <!-- fin modal del login -->

        <!-- modal de registro -MG -->
        <ng-template #registro let-modal>
          <div class="modal-header">
          <h4 class="modal-title" style="height: 50px; font-family: Arial, Helvetica, sans-serif;"><img src="../../../assets/move.gif" style="width: 60px; height: 50px;"><strong style="color: #fc5404;">Registro</strong> </h4>
          <button style="outline: none;" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button>
          </div>

          <form #registroForm="ngForm" (ngSubmit)="onSubmit(registroForm)">
              <div class="modal-body">
                  <div class="form-group">
                      <img src="../../../assets/iconoN.png" style="width: 35px; height: 30px;">
                      <label>Nickname: </label>
                      <input #nickname type="text" class="form-control" name="nickname" [(ngModel)]="user.nickname" #nickname="ngModel" [ngClass]="{ 'is-invalid': registroForm.submitted && nickname.invalid }" nickname required>
                  <div *ngIf="registroForm.submitted && nickname.invalid" class="invalid-feedback"><p *ngIf="nickname.errors.required">*Campo requerido</p></div>
                  </div>
          
                  <div class="form-group">
                      <img src="../../../assets/apellido.png" style="width: 35px; height: 30px;">
                      <label>Nombre: </label>
                      <input #nombre type="text" class="form-control" name="nombre" [(ngModel)]="user.nombre" #nombre="ngModel"
                      [ngClass]="{ 'is-invalid': registroForm.submitted && nombre.invalid }" required>
                      <div *ngIf="registroForm.submitted && nombre.invalid" class="invalid-feedback">
                      <p *ngIf="nombre.errors.required">*Campo requerido</p>
                      </div>
                  </div>
              
                  <div class="form-group">
                      <img src="../../../assets/apellido.png" style="width: 35px; height: 30px;">
                      <label>Apellidos: </label>
                      <input #apellido type="text" class="form-control" name="apellidos" [(ngModel)]="user.apellidos" #apellidos="ngModel"
                      [ngClass]="{ 'is-invalid': registroForm.submitted && apellidos.invalid }" required>
                      <div *ngIf="registroForm.submitted && apellidos.invalid" class="invalid-feedback">
                      <p *ngIf="apellidos.errors.required">*Campo requerido</p>
                      </div>
                  </div>
              
                  <div class="form-group">
                      <img src="../../../assets/ciudad.png" style="width: 35px; height: 30px;">
                      <label>Ciudad: </label>
                      <input #ciudad type="text" class="form-control" name="ciudad" [(ngModel)]="user.ciudad" #ciudad="ngModel"
                      [ngClass]="{ 'is-invalid': registroForm.submitted && ciudad.invalid }" required>
                      <div *ngIf="registroForm.submitted && ciudad.invalid" class="invalid-feedback">
                      <p *ngIf="ciudad.errors.required">*Campo requerido</p>
                      </div>
                  </div>
              
                  <div class="form-group">
                      <img src="../../../assets/sobre.png" style="width: 35px; height: 30px;">
                      <label>Correo</label>
                      <input #correo type="email" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" [ngClass]="{ 'is-invalid': registroForm.submitted && email.invalid }" email required>
                  <div *ngIf="registroForm.submitted && email.invalid" class="invalid-feedback"><p *ngIf="email.errors.required">*Campo requerido</p></div>
                  </div>
          
                  <div class="form-group">
                      <img src="../../../assets/candado.png" style="width: 35px; height: 30px;">
                      <label>Contraseña</label>
                      <input #password type="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel"
                      [ngClass]="{ 'is-invalid': registroForm.submitted && password.invalid }" required>
                      <div *ngIf="registroForm.submitted && password.invalid" class="invalid-feedback">
                      <p *ngIf="password.errors.required">*Campo requerido</p>
                      </div>
                  </div>
              </div>

              <div class="modal-footer">
                  <div class="form-group">
                    <button class="btn btn-block" #color style="border: solid 1px #fc5404;" (click)="register(nickname.value,nombre.value,apellidos.value,ciudad.value,correo.value,password.value)" [disabled]="registroForm.invalid">Registrarse</button>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-block" #color style="border: solid 1px #fc5404;" type="button" (click)="modal.close('Save click')">Cancelar</button>
                  </div>

              </div>
          </form>
      </ng-template>
      <!-- fin modal de registro -->

